<!DOCTYPE html>
<html style="font-size:100%">
<head>
    <meta charset="UTF-8">
    <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <title></title>
    <link rel="apple-touch-icon-precomposed" href="/Content/img/app_icon.png?CV=150311">
    <meta name="apple-mobile-web-app-title" content="欢乐拆包">
    <meta name="keywords">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="x5-fullscreen" content="true">
    <meta name="full-screen" content="yes">
    <meta name="description">
    <meta name="applicable-device" content="mobile">
   <!--  <meta http-equiv="Cache-control" content="no-cache,no-store,must-revalidate"> -->
    
    <link href="http://m.huazhu.com/Content/css/base-min.css" rel="stylesheet">
	<link href="http://m.huazhu.com/Content/css/grids-min.css" rel="stylesheet">
	<link href="http://m.huazhu.com/Content/css/reset.css" rel="stylesheet">
	<link href="http://m.huazhu.com/Content/css/lib.css" rel="stylesheet">
	<link href="http://m.huazhu.com/Content/css/iconfonts.css" rel="stylesheet">
	<link href="http://m.huazhu.com/Content/css/common.css" rel="stylesheet">
	<link href="http://m.huazhu.com/Content/css/swiper.css" rel="stylesheet">
	<link href="http://m.huazhu.com/Content/css/wangchan.css" rel="stylesheet">
	<link href="http://m.huazhu.com/Content/css/fsy0718.css" rel="stylesheet">

	 <script type="text/javascript" src="/addons/wqtgd_jiudian/template/mobile/js/jquery-1.10.1.min.js"></script>

   <!--  
    <script src="//hm.baidu.com/hm.js?f14fa482025352f2dded0c2e008dd278"></script><script type="text/javascript" async="" src="http://ws-www.hantinghotels.com/wa/piwik/piwik.js?v=1"></script><script async="" src="http://ws-www.hantinghotels.com/wa/ga/analytics.js?v=2"></script><script type="text/javascript" async="" src="http://dn-growing.qbox.me/vds.js"></script><script type="text/javascript" src="/Content/js/ndoo_prep.js?CV=150311"></script> -->
    
</head>
<body>
	<div class="Cload" style="display: none;">
        <div class="Cload__icon"></div>
    </div>
    <div class="container"> 
   <header class="Cnewheader"> 
    <div class="pure-g main"> 
     <div class="pure-u-1-5 return">
      <a href="/Hotel/Detail/?v=1"><i class="icon-back"></i></a>
     </div> 
     <div class="pure-u-3-5 title Ltac"> 
      <h3>请选择入住日期</h3> 
     </div> 
     <div class="pure-u-1-5 action Ltar"> 
      <div class="inn"> 
      </div> 
     </div> 
    </div> 
   </header> 
   <div data-date="1499616000000" class="CD_main"> 
    <div class="inner">
     <div class="calendarbox-2016">
      <div class="week pure-g">
       <div class="pure-u-1-8">
        日
       </div>
       <div class="pure-u-1-8">
        一
       </div>
       <div class="pure-u-1-8">
        二
       </div>
       <div class="pure-u-1-8">
        三
       </div>
       <div class="pure-u-1-8">
        四
       </div>
       <div class="pure-u-1-8">
        五
       </div>
       <div class="pure-u-1-8">
        六
       </div>
      </div>  
     </div>
    </div> 
    <div class="inputtips inputtips2016" style="display: none;"> 
     <div class="cbox">
      请选择入住日期
     </div> 
    </div> 
   </div> 
	</div>
   <script type="text/javascript" src="/addons/wqtgd_jiudian/template/mobile/newtemplate/js/calendartwo.min.js"></script>

</body>
</html>